@using Microsoft.AspNetCore.Identity
@using IdentityRole = HeuristicSearchMethodsSimulation.Models.IdentityRole;
@using IdentityUser = HeuristicSearchMethodsSimulation.Models.IdentityUser;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link btn btn-link m-0 text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @(User.Identity?.Name ?? "User!")</a>
    <form class="d-inline d-sm-block" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
        <button type="submit" class="nav-link btn btn-link m-0 text-dark">Logout</button>
    </form>
}
else
{
    <a class="nav-link btn btn-link m-0 text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="nav-link btn btn-link m-0 text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
}