<Condition Evaluation="Title is { }">
    <Match>
        <h3>
            @Title
        </h3>
    </Match>
</Condition>
<Condition Evaluation="Loading">
    <NotMatch>
        <PageLoader />
    </NotMatch>
    <Match>
        <ProgressBar Show="Progress" />
        @Content
    </Match>
</Condition>

@code {
    [Parameter] public bool Progress { get; set; }
    [Parameter] public bool Loading { get; set; }
    [Parameter] public RenderFragment? Content { get; set; }
    [Parameter] public RenderFragment? Title { get; set; }
}
