<AuthorizeView>
    <Authorized>
        <a class="nav-link btn btn-link m-0 text-dark" href="Identity/Account/Manage">Hello, @(context.User.Identity?.Name ?? "User!")</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link m-0 text-dark">Logout</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link btn btn-link m-0 text-dark" href="Identity/Account/Register">Register</a>
        <a class="nav-link btn btn-link m-0 text-dark" href="Identity/Account/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>
