.items-container {
    max-width: 960px;
}

.card-wrapper {
    max-width: 100%;
    width: 284px;
}

.card-title {
    min-height: 2em;
}

.coming-soon-badge {
    height: 2em;
    width: 2em;
}

@media (min-width: 1920px) {
    .items-container {
        max-width: none;
    }
}
