<h4 class="d-flex align-items-center @CssClass">
	<strong class="text-muted">Loading...</strong>
	<span class="flex-fill"></span>
	<i class="spinner-border border-2 text-secondary" role="status" aria-hidden="true"></i>
</h4>

@code {
	[Parameter] public string? CssClass { get; set; }
}
