@page "/ComingSoon"
@attribute [AllowAnonymous]

    <div class="d-flex justify-content-center p-2 p-sm-3 p-md-4">
        <img src="images/coming-soon.png" class="img-fluid" alt="Coming Soon!" />
    </div>
