@page
@using Microsoft.Extensions.Options
@using HeuristicSearchMethodsSimulation.Models
@model HeuristicSearchMethodsSimulation.Pages.ErrorModel
@inject IOptions<AppOptions> appOptionsAccessor
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="themes/@appOptionsAccessor.Value.Theme/site/bootstrap.min.css" rel="stylesheet" />
    <link href="themes/@appOptionsAccessor.Value.Theme/site/site.css" rel="stylesheet" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            <h1>Error.</h1>
            <h2 class="text-danger">An error occurred while processing your request.</h2>
        </div>
    </div>
</body>

</html>
