@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <h4>
            Please contact the system administrator to confirm your account.
        </h4>
    }
    else
    {
        <h4>
            Please check your email to confirm your account.
        </h4>
    }
}
