@media print {
    @page {
        size: letter portrait;
    }

    .page.GuidedDirect {
        height: unset !important;
        max-width: 960px;
    }

        .page.GuidedDirect > nav.navbar,
        .page.GuidedDirect .traveling-salesman-header-container,
        .page.GuidedDirect .traveling-salesman-matrix-container,
        .page.GuidedDirect .traveling-salesman-map-container:not(.print),
        .page.GuidedDirect .traveling-salesman-algo-dropdown,
        .page.GuidedDirect .traveling-salesman-range-selector-container,
        .page.GuidedDirect .traveling-salesman-route-symmetry,
        .page.GuidedDirect .traveling-salesman-guided-direct-builder-container,
        .page.GuidedDirect button,
        .page.GuidedDirect .step {
            display: none !important;
        }

        .page.GuidedDirect > div.flex-fill > div,
        .page.GuidedDirect .report-container {
            padding: 0 !important;
        }

        .page.GuidedDirect .traveling-salesman-map-container.print {
            height: 400px;
            overflow: hidden !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .page.GuidedDirect .traveling-salesman-map-container.print > div {
                width: 100% !important;
            }

        .page.GuidedDirect .report-container > .report,
        .page.GuidedDirect .traveling-salesman-guided-direct-table-container {
            margin-top: 0 !important;
        }
}
