<Condition Evaluation="Value >= 0">
    <Match>
        <h5 class="traveling-salesman-number-of-unique-locations m-0 @CssClass">
            Number of unique routes: <span class="text-info">@Value</span>
        </h5>
    </Match>
</Condition>

@code {
    [Parameter] public string? CssClass { get; set; }
    [Parameter] public long Value { get; set; } = 0L;
}
