.traveling-salesman-range-selector-container {
    --track-size: 5px;
    --thumb-size: 14px;
    --box-shadow: 0 0 0 .25rem rgba(0,140,186,.25);
    --thumb-box-shadow: 0 0 0 .125rem rgba(211, 211, 211, 0.375);
    --disabled-opacity: .75;
}

    .traveling-salesman-range-selector-container.disabled {
        opacity: var(--disabled-opacity, .75);
        pointer-events: none;
        cursor: default;
    }

    .traveling-salesman-range-selector-container > .range-selector-container > .range-selector {
        -webkit-appearance: none;
        width: 100%;
        height: var(--track-size, 5px);
        border-radius: var(--track-size, 5px);
        background-color: var(--bs-light, #d3d3d3);
    }

        .traveling-salesman-range-selector-container > .range-selector-container > .range-selector:focus {
            box-shadow: var(--box-shadow, 0 0 0 .25rem rgba(0,140,186,.25));
        }

        .traveling-salesman-range-selector-container > .range-selector-container > .range-selector::-moz-range-progress {
            background-color: var(--bs-info, #5bc0de);
        }

        .traveling-salesman-range-selector-container > .range-selector-container > .range-selector::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: var(--thumb-size, 10px);
            height: var(--thumb-size, 10px);
            border-radius: 50%;
            background-color: var(--bs-white, #fff);
            box-shadow: var(--thumb-box-shadow, 0 0 0 .125rem rgba(211, 211, 211, 0.375));
            cursor: pointer;
        }

        .traveling-salesman-range-selector-container > .range-selector-container > .range-selector::-moz-range-thumb {
            border: none;
            width: var(--thumb-size, 10px);
            height: var(--thumb-size, 10px);
            border-radius: 50%;
            background-color: var(--bs-white, #fff);
            box-shadow: var(--thumb-box-shadow, 0 0 0 .125rem rgba(211, 211, 211, 0.375));
            cursor: pointer;
        }
