<div class="traveling-salesman-route-symmetry d-inline-flex flex-wrap align-items-center p-0 m-0 form-check form-switch disabled">
	<div class="me-2">Route Symmetry:</div>
	<input class="form-check-input float-none bg-light border-0 bg-black bg-opacity-25 m-0"
		   type="checkbox"
		   role="switch"
		   checked
		   disabled />
</div>

